<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>

<!-- Navigation -->

<!-- Full Width Image Header -->


<!-- Page Content -->
<div class="container">

    <h1 class="thick-heading">
        {{ data.contactTitle }}
    </h1>

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <!------------------------code---------------start---------------->
        <div class="container">
            <div ng-controller="contactController" class="row" style="margin-left: 30%;">
                <form role="form" name="contactForm" novalidate>
                    <div ng-show="contactForm.$submitted && (contactForm.InputMessage.$error|| contactForm.first_name.$error || contactForm.phone_number.$error|| contactForm.email.$error || contactForm.theme.$error)"  role="alert">
                        <div style="color:red" ng-message="required"> {{errorMessage}}</div>
                    </div>
                    <div class="col-lg-6">

                        <select id="theme" name="theme" ng-model="theme" style="margin-bottom: 5%" required>
                            <option value="" disabled="disabled" selected="selected">{{ data.theme }}</option>
                            <option value="{{ data.themeList1 }}">{{ data.themeList1 }}</option>
                            <option value="{{ data.themeList2 }}">{{ data.themeList2 }}</option>
                            <option value="{{ data.themeList3 }}">{{ data.themeList3 }}</option>
                            <option value="{{ data.themeList4 }}">{{ data.themeList4 }}</option>
                            <option value="{{ data.themeList5 }}">{{ data.themeList5 }}</option>
                            <option value="{{ data.themeList6 }}">{{ data.themeList6 }}</option>
                        </select>



                        <br>
                        <label for="InputMessage">{{ data.contactMessage }}</label>
                        <div class="input-group">
                            <textarea ng-model="InputMessage" id="InputMessage" name="InputMessage" class="form-control" rows="5" required></textarea>
                            <span class="input-group-addon"></span>

                        </div>


                        <input type="text" ng-model="first_name" id="first_name" name="first_name" class="form-control input-lg"
                               placeholder="{{ data.name }}" tabindex="1" style="margin-top: 5%" required>





                        <input type="text" ng-model="last_name" id="last_name" class="form-control input-lg"
                               placeholder="{{ data.surname }}" tabindex="2" style="margin-top: 5%">

                        <input type="text" ng-model="phone_number" id="phone_number" name="phone_number" class="form-control input-lg"
                               placeholder="{{ data.phone }}" tabindex="3" style="margin-top: 5%" required>



                        <input type="email" ng-model="email" id="email" name="email" class="form-control input-lg"
                               placeholder="{{ data.email }}" tabindex="4" style="margin-top: 5%" required>



                        <label for="InputMessage" style="margin-top: 5%">{{ data.contactAnswer }} </label><br>
                        <input type="radio" ng-model="answer" value="phone" checked> {{ data.contactAnswerList1 }}<br>
                        <input type="radio" ng-model="answer" value="email"> {{ data.contactAnswerList2 }}<br>
                        <input type="radio" ng-model="answer" value="both"> {{ data.contactAnswerList3 }}<br>


                        <button type="button" ng-click="submit()" class="btn btn-info pull-right"> {{ data.buttonSend }}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!----Code------end----------------------------------->
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="http:/www.tutorialspoint.com/bootstrap/scripts/jquery.min.js">
</script>

<!-- Bootstrap Core JavaScript -->
<script src="http:/www.tutorialspoint.com/bootstrap/js/bootstrap.min.js">
</script>

</body>
</html>