<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="header">
    <div class="headerText">
        <h2>{{ data.titleOne }}</h2>
        {{ data.titleTwo }}
    </div>
    <div class="language">
        <button class="text" ng-click="ltLanguage()">LT</button>
        |
        <button class="text" ng-click="enLanguage()">EN</button>
    </div>
</div>

<div class="loginLabel">
    <div class="loginLabelText">
        {{ data.loginTitle }}
    </div>
</div>

<div class="loginMain">
    <div class="login">
        <form method="" action="" role="form">
            <input name="email" id="email" type="email" ng-model="email" placeholder="{{ data.loginEmail }}" style="width: 100%; color: black"><br>
            <input name="password" id="password" type="password" ng-model="password" placeholder="{{ data.loginPassword }}" style="width: 100%; margin-top: 3%; color: black"><br>
            <button class="buttonLogin" ng-click="submit()" style="vertical-align:middle; margin-top: 3%; float: right;"><span>{{ data.loginButtonLogin }}</span></button>
            <div style="margin-top: 33px">
                <input type="checkbox" class="checkboxStyle">{{ data.loginCookie }}
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <div class="footerText">
        {{ data.homeFooterText }}
    </div>
</div>

</body>
</html>